.App {
  display: flex;
  overflow: hidden;
  transition: all 0.3s ease;
}

.App.menu-open {
  margin-left: -180px; /* Lățimea meniului */
}

* {
  margin: 0;
  padding: 0;
}

.vertical-nav {

background-color: aliceblue;
  
  width: 170px;
  padding-left: 10px;
  padding-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.vertical-nav h1 {

  margin-bottom: 20px;
  
  color: rgb(124, 0, 182);
  
  }

  .vertical-nav ul {

    list-style: none;
    
    }

    .vertical-nav ul li a {

      text-decoration: none;
      
      display: block;
      
      width: 120px;
      
      background: white;
      
      color: black;
      
      box-shadow: 2px 2px 2px cadetblue;
      
      border-radius: 8px;
      
      margin: 5px;
      
      padding: 10px;
      
      }


      .vertical-nav ul li a:hover {

        background-color: rgb(142, 175, 237);
        
        color: white;
        
        transform: scale(1.1, 1.5);
        
      transition: all 0.1s ease;
        
        }

        .content {
          flex: 1;
          padding: 50px;
          text-align: center;
        }

        .contentText{
          text-align: left;
          padding-left: 200px;
          padding-right: 200px;
        }

        ul.contentText{
          padding-left: 100px;
        }



        /* Stil pentru lista de proiecte IoT */
.Article {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.Article ul {
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.Article li {
  margin: 20px;
  padding: 20px;
  width: 800px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  display: flex;
  align-items: center;
}

.Article li:hover {
  transform: translateY(-5px);
}

.Article a {
  display: flex;
  text-decoration: none;
  color: #333;
  flex: 1;
}

.Article img {
  width: 150px;
  border-radius: 5px;
  margin-right: 20px;
}

.Article .info {
  flex: 3;
}

.Article h3 {
  margin: 0 0 10px 0;
  font-size: 20px;
}

.Article p {
  margin: 0;
  font-size: 16px;
  color: #777;
}


