.App {
  background-color: #553f5e;
  display: flex;
  overflow: auto;
  transition: all 0.3s ease;
  min-height: 100%;
}


.menu-button{
  background-image: url("/public/3linii.png");
  border: none;
  height: 40px;
  width: 40px;
}


.App.menu-open {
  margin-left: -160px; /* Lățimea meniului */
}

* {
  margin: 0;
  padding: 0;
}

.vertical-nav {

background-color: #553f5e;
  
  width: 170px;
  height: 260px;
  padding-left: 10px;
  padding-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.vertical-nav h1 {

  margin-bottom: 20px;
  
  color: rgb(124, 0, 182);
  
  }

  .vertical-nav ul {

    list-style: none;
    
    }

    .vertical-nav ul li a {

      text-decoration: none;
      
      display: block;
      
      width: 120px;
      
      background: rgb(222, 207, 228);
      
      color: black;
      
      box-shadow: 2px 2px 2px rgb(91, 46, 100);
      
      border-radius: 0px;
      
      margin: 5px;
      
      padding: 10px;
      
      }


      .vertical-nav ul li a:hover {


        
        color: white;
        
        transform: scale(1.1, 1.5);
        
      transition: all 0.1s ease;
        
        }

        .content {
          background-color: #ffffff;
          padding: 25px;
          text-align: left;

          margin-left:25%;
          margin-right: 25%;
          min-height : 100vh
          
        }

        .contentText{
          text-align: left;

        }

        ul.contentText{
          padding-left: 100px;
        }



        /* Stil pentru lista de proiecte IoT */
.Article {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.Article ul {
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.Article li {
  margin: 20px;
  padding: 20px;
  width: 75%;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  display: flex;
  align-items: center;
}

.Article li:hover {
  transform: translateY(-5px);
}

.Article a {
  display: flex;
  text-decoration: none;
  color: #333;
  flex: 1;
}

.Article img {
  width: 30%;
  height: fit-content;
  border-radius: 5px;
  margin-right: 20px;
}

.Article .info {
  flex: 3;
}

.Article h3 {
  margin: 0 0 10px 0;
  font-size: 20px;
}

.Article p {
  margin: 0;
  font-size: 16px;
  color: #777;
}

@media screen and (max-width: 800px){
  .content{
      /* padding-left:5%;   
      padding-right:5%; */
      margin-left:5%;
      margin-right:5%;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  width: 100%;
  background-color: rgb(84, 35, 99);
  color: white;
  text-align: center;
}




.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-item {
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}