.App {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
}

.vertical-nav {

background-color: aliceblue;
  
  width: 30vh;
  height: 40vh;
  padding-left: 25px;
  padding-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.vertical-nav h1 {

  margin-bottom: 20px;
  
  color: rgb(124, 0, 182);
  
  }

  .vertical-nav ul {

    list-style: none;
    
    }

    .vertical-nav ul li a {

      text-decoration: none;
      
      display: block;
      
      width: 250px;
      
      background: white;
      
      color: black;
      
      box-shadow: 2px 2px 2px cadetblue;
      
      border-radius: 8px;
      
      margin: 5px;
      
      padding: 10px;
      
      }


      .vertical-nav ul li a:hover {

        background-color: rgb(142, 175, 237);
        
        color: white;
        
        transform: scale(1.1, 1.5);
        
      transition: all 0.1s ease;
        
        }

        .content {
          flex: 1;
          padding: 20px;
        }